

/* RESERVATION PAGE */
#reservation-container {
  padding: var(--rythme);
}


/* HERO PAGE */
#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
}
#hero-background {
  opacity: 0;
  position: relative;
  height: 75dvh;
  border-bottom-left-radius: 15rem 2rem;
  border-bottom-right-radius: 15rem 2rem;
  background-color: var(--accentwith7opacity);
  box-shadow: 2px 2px 5px 0px var(--shadow);
  backdrop-filter: blur(20px);
  z-index: 3000;
  background-clip: border-box;
  border: ridge 1px transparent;
}

#circle-sun {
  z-index: -1000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    167deg,
    oklch(68.14% 0.25 54.95) 50%,
    oklch(66.14% 0.26 54.95) 20%,
    oklch(64.62% 0.3 34.46) 90%
  );
  filter: blur(17px);
  box-shadow: 2px 2px 5px 10px var(--orange);
}

#circle-pink {
  z-index: -1500;
  position: absolute;
  top: 55%;
  left: 51%;
  transform: translate(-50%, -50%);
  height: 40dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    160deg,
    oklch(44.62% 0.3 13.98) 40%,
    oklch(34.62% 0.3 13.98) 60%
  );
  filter: blur(100px);
  mix-blend-mode: lighten;
}

#circle-yellow {
  z-index: -900;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 30dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    160deg,
    oklch(90.62% 0.3 70) 40%,
    oklch(70% 0.3 70) 60%
  );
  filter: blur(45px);
}

#hero-text {
  opacity: 0;
  padding: var(--rythme);
  height: 30%;
  display: flex;
  padding-inline: calc(8 * var(--rythme));
  justify-content: space-between;
  align-items: center;
}

#hero-text h1 {
  font-size: calc(5 * var(--rythme));
  letter-spacing: -0.03rem;
  font-family: "Mango Grotesque";
  font-variation-settings: "wght" 700;
}

#hero-text i {
  font-size: calc(2 * var(--rythme));
  padding: var(--rythme);
  border-radius: 50%;
  background-color: var(--accentwith7opacity);
  box-shadow: 1px 1px 2px 0px var(--shadow);
}

#go-to-content {
  text-decoration: none;
  cursor: pointer;
}

.circle {
  transition: transform 0.6s ease-out;
  transform-origin: 50% 50%;
}

#hero-background:hover #circle-sun {
  transform: translate(-50%, -50%) scale(1.5);
}

/* NAV */
#hero-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
}

#hero-nav-menu {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: var(--rythme);
  padding-inline: calc(8 * var(--rythme));
}

#hero-nav-menu li {
  list-style-type: none;
}

/* SCROLL EFFECT */

.container {
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.style-as-background {
  border-bottom-left-radius: 15rem 2rem;
  border-bottom-right-radius: 15rem 2rem;
  background-color: var(--accentwith7opacity);
  box-shadow: 2px 2px 10px 0px var(--shadow);
  backdrop-filter: blur(5px) brightness(150%);
  z-index: 3;
  background-clip: padding-box;
  border: ridge 1px transparent;
}

/* CONTENT SECTION */
#scroller {
  height: 500dvh; /*La taille en hauteur détermine la longueur de scroll possible de gauche à droite*/
  view-timeline-name: --lefttorightscroll;
  view-timeline-axis: block; /*car on scroll de haut en bas*/
}

#content-scroller-sticky {
  position: sticky; /*indispensable pour que le scroller ne bouge pas*/
  top: 0; /*obligatoire*/
}

#left-to-right {
  align-items: center;
  height: 100dvh;
  width: 200dvw;
  will-change: transform;
  animation: move linear forwards;
  animation-timeline: --lefttorightscroll;
  animation-range: contain 0% contain 100%;
  display: flex;
  gap: calc(3 * var(--rythme));
}

@keyframes move {
  to {
    /* Move horizontally so that right edge is aligned against the viewport */
    transform: translateX(calc(-100% + 100vw));
  }
}

#left-to-right img {
  height: 90dvh;
}

#content-scroller-desc {
  display: grid;
  place-items: center;
  padding-left: calc(6 * var(--rythme));
}
#content-scroller-desc p {
  max-width: 20ch;
}

/* MENU */
#restaurant-food-list {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  position: relative;
}

#menu-flexer {
  display: grid;
  grid-template-columns: 1fr calc(1.5 * var(--rythme)) 1fr;
  row-gap: calc(0.5 * var(--rythme));
  grid-template-rows: repeat(5, min-content);
}
.menu-items {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 4;
  font-size: calc(1.5 * var(--rythme));
  font-variation-settings: "wght" 220;
  letter-spacing: -0.12rem;
}

.menu-items {
  text-transform: uppercase;
  color: var(--surface1with90opacity);
  transition: font-variation-settings 0.3s ease, color 0.5s ease-in;
  will-change: font-variation-settings, color;
  cursor: crosshair;
}

.menu-items:hover {
  font-variation-settings: "wght" 330;
  color: black;
}

.menu-text:nth-child(odd) {
  grid-column: 1 / 2;
  text-align: right;
}

.menu-text:nth-child(even) {
  grid-column: 3 / 4;
  text-align: left;
}
#restaurant-food-list li {
  list-style-type: none;
  position: relative;
}

#food-img {
  position: absolute;
  bottom: calc(2 * var(--rythme));
  right: calc(2 * var(--rythme));
  max-width: 20dvw;
  aspect-ratio: 1;
  object-fit: cover;
}

/* ONLOAD ANIM */

.loader {
  overflow: hidden;
}
.overlay {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  z-index: 9999;
  background-color: oklch(30% 0.03 100);
  overflow: hidden;
}

.counter {
  position: fixed;
  font-family: "Mango Grotesque";
  font-size: calc(5 * var(--rythme));
  letter-spacing: -0.05rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #f1f1f1;
  z-index: 10000;
  padding: var(--rythme);
  padding-inline: calc(3 * var(--rythme));
}

body {
  font-family: "Switzer", sans-serif;
  max-width: 100dvw;
  overscroll-behavior: none;
  overflow: hidden;
}

:root {
  --rythme: 1rlh;
  --bg: oklch(99% 0.006 200);
  --white: oklch(99% 0.002 200);
  --accent: oklch(30% 0.2 200);
  --accentwith80opacity: oklch(from var(--accent) l c h / 80%);
  --accentwith10opacity: oklch(from var(--accent) l c h / 10%);
  --accentwith7opacity: oklch(from var(--accent) l c h / 7%);
  --surface1: oklch(50% 0.02 200);
  --surface1with2opacity: oklch(from var(--surface1) l c h / 2%);
  --surface1with5opacity: oklch(from var(--surface1) l c h / 5%);
  --surface1with7opacity: oklch(from var(--surface1) l c h / 7%);
  --surface1with50opacity: oklch(from var(--surface1) l c h / 50%);
  --surface1with90opacity: oklch(from var(--surface1) l c h / 90%);
  --surface1with98opacity: oklch(from var(--surface1) l c h / 98%);
  --red: oklch(40% 0.3 20);
  --orange: oklch(90% 0.37 85 / 85%);
  --yellow: oklch(87.82% 0.1933 115.55);
  --green: oklch(40% 0.3 140);
  --shadow: oklch(5% 0.02 200 / 15%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
}

/* Set shorter line heights on headings and text-wrap */
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  color: currentColor;
  text-underline-offset: 0.3ex;
}

button {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10rem;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

input[type="checkbox"] {
  width: calc(0.6 * var(--rythme)); /* Adjust the width */
  height: calc(0.6 * var(--rythme)); /* Adjust the height */
}

input[type="search"] {
  appearance: none;
  border: none;
  outline: none;
}

input[type="file"] {
  appearance: none;
  border: none;
  background-color: var(--bg);
  border-radius: 0.2rem 0.2rem 0 0;
  transition: all 0.2s ease-out;
}

input[type="date"] {
  border: 3px ridge transparent;
  border-radius: 0.2rem;
  background-color: var(--accentwith10opacity);
  box-shadow: none;
  outline: none;
  padding: calc(0.25 * var(--rythme));
  color: var(--surface1with90opacity);
  transition: all 0.2s ease-out;
}

*:focus-visible {
  transition: all 0.2s ease;
  border-radius: inherit;
}

input[type="radio"]:focus-visible {
  box-shadow: none;
  outline-offset: 4px;
  outline-color: var(--surface1);
}

input[type="checkbox"]:focus-visible {
  box-shadow: none;
  outline-offset: 4px;
  outline-color: var(--surface1);
}

dialog button:focus-visible {
  box-shadow: none;
  outline: 1px ridge var(--accent);
  outline-offset: 4px;
  border-radius: 0.4rem;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent);
  background-color: var(--accentwith10opacity);
  outline: none;
  box-shadow: none;
}

input[type="search"]:focus-visible {
  background-color: var(--accentwith10opacity);
  box-shadow: none;
}

input[type="date"]:focus-visible {
  outline: 3px solid var(--accent);
}

button:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 4px;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("$root/fonts/MangoGrotesque.woff2");
  font-weight: 100 900;
  unicode-range: U+0020-007E, U+00A1-00AC, U+00AE-00B4, U+00B6-017F, U+0192,
    U+0237, U+02C6-02C7, U+02D8-02DD, U+03BC, U+2013-2014, U+2018-201A,
    U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074,
    U+20AC, U+2122, U+2212, U+FB01-FB02;
}

@font-face {
  font-family: "Switzer";
  src: url("$root/fonts/Switzer-Variable.woff2");
  font-weight: 100 900;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00B4, U+00B6-0137,
    U+0139-0148, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7,
    U+02D8-02DD, U+0326, U+0394, U+03A9, U+03BC, U+03C0, U+1E80-1E85,
    U+1EF2-1EF3, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
    U+2030, U+2039-203A, U+2044, U+2070, U+2074, U+20AC, U+2113, U+2122, U+2126,
    U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+221A, U+221E, U+222B,
    U+2248, U+2260, U+2264-2265, U+25CA, U+E166, U+E189-E18A, U+F8FF,
    U+FB01-FB02;
}
